
  <div class="navbar">
    <div class="navbar-inner">
	    <div class="container">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <h1 class="brand">TORCH<small>website</small></h1>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <%= link_to "TOP", :menters %>
            </li>
            <li class="">
              <%= link_to "Menters", :menters %>
            </li>
   	      </ul>
   　    </div>
	    </div>
    </div>
  </div>