
  <% @menters.each do |menter| %>
  <div class="row show-grid">
		<div class="sspan7 offset3">
			<div class="circle-box-yoko">
				<%= image_tag(url_for(action: 'show_image', id: menter.id), size: '100x100') %>
			</div>
		</div>
		<div class="span4 ofset4", style="font-size:300%">
			<!-- ここで箇条書きをいっぱいいっぱいにできない -->
			<ul style="list-style:none">
				<br><br><br><br>
  	  	<li><%= link_to menter.name, menter_path(menter) %></li>
  	  	<br><br>
    		<li><%= menter.career %></li>
    		<br><br>
	    	<li><%= menter.rate %>円／分</li>
	    	<br><br><br>
  		</ul>
  		<div class="actions">
			  <input type="submit" class="btn primary" value="詳細">
			</div>
		</div>
	</div>
	<br><br><br>
  <% end %>